@charset "utf-8";
body footer {
	background-color: #00B0FF;
}
body footer h3 {
	color: #FFFFFF;
}
.col-xl-2.text-center.offset-xl-0 {
	color: #FFFFFF;
}
body footer a {
	color: #FFFFFF;
}
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
	color: #00B0FF;
	background-color: #00B0FF;
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
	color: #FFFFFF;
}
.navbar-nav.mr-auto .nav-item.dropdown #navbarDropdown1 {
	color: #FFFFFF;
}
